# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook Checkpoints & Cache
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
.jupyter/

# IPython
.ipython/

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pythonenv*

# Spyder & Rope project settings
.spyderproject
.spyproject
.ropeproject

# mypy / Pyre / type checkers
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# Cython debug output
cython_debug/

# IDEs and Code Editors
.idea/
*.sublime-workspace
*.sublime-project
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Operating System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini

# Temporary and log files
*.log
*.tmp
*.bak
*.swp
*~
